:root {
    --bitcoin-orange: #F7931A;
    --soft-orange: #FFE9D5;
    --secondary-blue: #1A9AF7;
    --soft-blue: #E7F5FF;
    --warm-black: #201E1C;
    --gray: #BABABA;
    --off-white: #FAF8F7;

}

* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: 'DM Sans', system-ui;
}

body {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
    padding: 0;
}

header {
    width: 100%;
    height: 295px;
    text-align: center;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background: linear-gradient(207.8deg, #201E1C 16.69%, #F7931A 100%);
    img {
        width: 150px;
        height: 24px;
        margin-top: 42px; 
    }
}

.header__container {
    min-width: 288px;
    width: 90%;
    max-width: 900px;
    margin: 0 auto;
    margin-top: 36px;
    h1 {
        font-weight: 700;
        font-size: 2.4rem;
        line-height: 26px;
        color: white;
        margin: 0;
    }
    p {
        font-weight: 500;
        font-size: 1.4rem;
        line-height: 18px;
        color: var(--soft-orange);
        margin: 24px 0 32px 0;
    }
}

.header__cta {
    display: inline-block;
    width: 229px;
    font-weight: 700;
    font-size: 1.4rem;
    line-height: 18px;
    color: var(--warm-black);
    background-color: var(--off-white);
    padding: 1.6rem;
    box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
    border-radius: 4px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.exchange {
    padding: 60px 0;
    background-color: var(--off-white);
}

.exchange__img {
    width: 200px;
    height: 200px;
    margin: 0 auto;
    background-image: url('../img/Bitcoin.svg');
    background-size: cover;
    background-position: center;
    margin-bottom: 40px;
}

.exchange__header {
    text-align: center;
    min-width: 288px;
    width: 90%;
    max-width: 900px;
    margin: 0 auto;
    h2 {
        font-weight: 700;
        font-size: 2.4rem;
        line-height: 26px;
        color: var(--warm-black);
        margin-bottom: 24px;
    }
    p {
        font-weight: 500;
        font-size: 1.4rem;
        line-height: 18px;
        color: #757575;
    }
}

.exchange__tables {
    text-align: center;
    h3 {
        margin-left: 12px;
        text-align: left;
        width: 80%;
        max-width: 350px;
        font-weight: 700;
        font-size: 1.8rem;
        line-height: 24px;
        color: var(--bitcoin-orange);
        margin-top: 4.8rem;
        margin-bottom: 1.2rem;
        display: inline-block;
    }

    p { 
        width: fit-content;
        margin: 0 auto;
        margin-top: 1.4rem;
        border-radius: 8px;
        padding: 0.8rem;
        background-color: var(--soft-orange);
        font-size: 1.2rem;
        strong {
            display: inline-block;
            margin-right: 1rem;
        }
    }
}

.exchange__grid {
    min-width: 200px;
    width: 80%;
    max-width: 450px;
    margin: 0 auto;
    background-color: white;
    border-radius: 8px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2px;
}

.grid-item {
    font-size: 1.4rem;
    padding: 1rem 1.2rem;
    font-family: 'Inter', system-ui;
    @media (min-width: 1024px) {
        padding: 1.4rem 1.6rem;
    }
    &.left {
        font-size: 1.6rem;
        font-weight: 500;
        color: #B5B0AC;
    }
    &.right {
        font-weight: 400;
        font-size: 1.4rem;
        color: #757575;
    }
}

.benefits {
    background-color: var(--warm-black);
    position: relative;
    padding-top: 6.4rem;
    padding-bottom: 3.2rem;
}

.benefits__batata {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
}

.benefits__header {
    text-align: center;
    min-width: 288px;
    width: 90%;
    max-width: 500px;
    margin: 0 auto;
    
    h2 {
        font-weight: 700;
        font-size: 2.4rem;
        color: white;
        margin-top: 0;
        margin-bottom: 2.4rem;
    }

    p {
        color: #808080;
        font-size: 1.4rem;
        font-weight: 500;
        line-height: 18px;
    }
}
.benefits__wrapper {
    padding: 1.6rem;
    display: grid;
    gap: 1.6rem;
    grid-template-columns: repeat(auto-fit, minmax(auto, 350px));
    justify-content: center;
    @media (min-width: 1024px) {
        grid-template-columns: repeat(2, 350px);
    }
}
.card {
    background-color: #282623;
    padding: 1.6rem 2rem 2.2rem 1.6rem;
    border-radius: 4px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.16);
    transition: box-shadow 0.3s ease;
    &:hover {
        box-shadow: 0 7px 14px rgba(0, 0, 0, 0.48);
    }
    h3 {
        font-weight: 700;
        color: white;
        font-size: 1.8rem;
        line-height: 18px;
        margin: 14px 0 10px 0;
    }

    p {
        font-weight: 500;
        font-size: 1.4rem;
        line-height: 18px;
        color: #808080;
        margin: 0;
    }
}


.plans {
    padding-top: 6.4rem;
    background-color: var(--off-white);
}

.plans__header {
    @extend .exchange__header;
    margin-bottom: 2.6rem;
    h2 {
        margin-top: 0;
    }
}

.plans__carousel {
    width: 100%;

}

.plans__container {
    padding: 1.6rem;
    width: 100%;
    display: flex;
    overflow-x: scroll;
    scroll-snap-type: x proximity;
}

.item {
    scroll-snap-align: center;
    padding: 0 0.8rem;
    flex: 1 0 190px;
    max-width: 230px;
    background: white;
    border-radius: 0.8rem;
    margin: 0 0.9rem;
    height: 247px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 4px 8px rgba(89, 73, 30, 0.16);
    transition: box-shadow 0.3s ease;
    &:hover {
        box-shadow: 8px 10px 10px rgba(89, 73, 30, 0.16);
    }

    h4 {
        font-size: 1.4rem;
        font-weight: 700;
        line-height: 18px;
        color: black;
        margin-top: 3.1rem;
        margin-bottom: 0.8rem;
    }
}

.item__info {
    font-weight: 500;
    font-size: 1.2rem;
    font-family: 'Inter', system-ui;
    line-height: 15px;
    text-align: center;
    color: #757575;
    margin: 0 0 1.6rem;
}

.item__price {
    font-family: 'Inter', system-ui;
    font-weight: 700;
    font-size: 5.2rem;
    line-height: 63px;
    height: 56px;
    margin-bottom: 1.6rem;
    span {
        font-weight: 500;
        font-size: 1.2rem;
        line-height: 15px;
    }
}

.item__cta {
    padding: 1.4rem;
    border: 2px solid var(--bitcoin-orange);
    border-radius: 4px;
    background: var(--off-white);
    font-family: 'DM Sans', system-ui;
    font-weight: 700;
    font-size: 1.4rem;
    cursor: pointer;
    transition: color 0.3s ease, background-color 0.3s ease;
    &:hover, &:focus {
        background-color: var(--bitcoin-orange);
        color: white;
        outline: none;
    }
}

.item__tag {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--bitcoin-orange);
    color: white;
    border-radius: 8px;
    font-weight: 700;
    font-size: 1.2rem;
    line-height: 15px;
    font-family: 'Inter', system-ui;
    padding: 0.8rem;
    margin: 0;
}


.faq {
    background-color: var(--off-white);
    padding-top: 6.4rem;
    margin-bottom: 3.2rem;
}

.faq__header {
    min-width: 288px;
    width: 90%;
    max-width: 500px;
    margin: 0 auto;
    h2 {
        font-weight: 700;
        font-size: 2.4rem;
        line-height: 26px;
        text-align: center;
    }
}

.faq__wrapper {
    margin: 0 auto;
    margin-top: 1.6rem;
    padding: 1.6rem;
    max-width: 500px;

}

.faq__body {
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 18px;
    cursor: pointer;
    margin-bottom: 1.6rem;
}

.faq__question {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .arrow {
        background-image: url(../icons/down-arrow.svg);
        background-size: cover;
        width: 13px;
        height: 8px;
    }
    .question {
        width: fit-content;
        color: var(--warm-black);
        margin: 0;
    }
}

.faq__answer {
    cursor: default;
    overflow: hidden;
    transition: max-height 0.4s;
    font-weight: 400;
    color: #757575;
    .answer {
        margin: 0;
        margin-top: 2.4rem;

    }
}


footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    background-color: var(--bitcoin-orange);
}

.footer__links {
    margin-right: 5.2rem;
    ul li a {
        display: block;
        color: white;
        font-weight: 500;
        font-size: 1.4rem;
        line-height: 18px;
        margin-bottom: 0.8rem;
    }
}

.footer__batata {
    width: 100px;
    img {
        width: 100%;
    }
}
